body{
    margin: 0px;
    display: flex;
    justify-content: center;
    font-family: "PT Mono", monospace;
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
}

#main-container{
  background-color: #A6D7D3;
  width: 1024px;
  height: 140px;
}

#top{
  display: grid;
  grid-template-columns: [first] 180px [line2] 800px;
  column-gap: 50px;
}

#list{
  text-align: center;
  color: white;
  background-color: #2B8B93;
  padding: 5px;
  height: 40px;
  width: 170px;
  padding-top: 17px;
  font-size: 23px;
  font-weight: 570;
  border-radius: 12px;
}

#directs{
  padding-top: 17px;
}

#my-portfolio{
  background-color: #A6D7D3;
  width: 1024px;
  height: 140px;
  padding-top: 30px;
}

ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-right: 40px;
}

#banner{
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 60px;
  color: white;
  background-color: #2B8B93;
  border: solid 10px #FFBF0A;
  width: 517px;
  height: 70px;
  padding: 10px;
  border-radius: 12px;
}

#my-name{
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: 15px;
  background-color: #A6D7D3;
  width: 341px;
  color: #2B8B93;
  height: 25px;
  padding-bottom: 50px;
  font-size: large;
  border-radius: 12px;
}

#stilllife{
  /* border: #FFBF0A solid 10px; */
  width: 250px;
  height: 330px;
  border-radius: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  background-color:#A6D7D3;
  border:#FFBF0A 15px solid;
}

#nice{
  background-color: #2B8B93;
  border:#FFBF0A solid 10px;
  color: white;
  width: 415px;
  height: 25px;
  font-size: 23px;
  border-radius: 12px;
  text-align: center;
  padding-bottom: 70px;
}

#logo{
  margin-left: 40px;
  margin-top: 15px;
}

#bio{
  background-color: #A6D7D3;
  width: 413px;
  height: 185px;
  color: #2B8B93;
  padding: 15px;
  border-radius: 12px;
}

#artlink{
  justify-content: center;
  display: flex;
  margin: auto;
  text-align: center;
  background-color: #2B8B93;
  color: white;
  font-weight: lighter;
  height: 45px;
  width: 457px;
  font-size: 20px;
  padding: 10px;
  border-radius: 12px;
  margin-top: 25px;
}

#nicebio{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#nicetomeetyou{
  margin-left: 60px;
}

#bluerectangle{
  width: 1024px;
  background-color: #A6D7D3;
  height: 47px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#moreabout{
  background-color: #2B8B93;
  border:#FFBF0A solid 10px;
  color: white;
  width: 420px;
  height: 50px;
  font-size: 23px;
  border-radius: 12px;
  text-align: center;
  padding-bottom: 40px;
  margin-left: 65px;
}

#variety{
  color:#2B8B93;
  background-color: #A6D7D3;
  padding: 15px;
  width: 440px;
  border-radius: 12px;
  margin-left: 48px;
}

#showstoppers{
  background-color:#A6D7D3;
  width: 245px;
  border: 15px solid #FFBF0A;
  border-radius: 12px;
  height: 215px;
  padding: 15px;
  margin-left: 150px;
}

#toptier{
  background-color:#A6D7D3;
  width: 265px;
  border: 15px solid #FFBF0A;
  border-radius: 12px;
  height: 210px;
  padding: 15px;
  margin-left: 50px;
  margin-top: 20px;
}

#myself{
  display: flex;
}

#bluerectangletwo{
  width: 1024px;
  background-color: #A6D7D3;
  height: 47px;
  margin-top: 40px;
  margin-bottom: 30px;
}

a {
  color: white;
}

a:hover {
  color: #FFBF0A;
}

#my-contacts{
  background-color: #A6D7D3;
  width: 1024px;
  height: 140px;
  padding-top: 30px;
}

#hellovro{
  background-color: #2B8B93;
  color: white;
  width: 388px;
  padding: 10px;
  border-radius: 12px;
  margin: auto;
  margin-top: 30px;
  font-weight: 150;
  text-align: center;
}

#actualcontacts{
  background-color: #A6D7D3;
  color: #2B8B93;
  width: 415px;
  height: 230px;
  border-radius: 12px;
  padding: 11px;
  line-height: 55px;
}

#require{
  color: #2B8B93;
  width: 388px;
}

#contactstuff{
display: flex;
margin-top: 15px;
justify-content: center;
justify-content: space-around;
}

#insta{
  color: white;
  background-color: #2B8B93;
  font-weight: 150;
  padding: 10px;
  width: 520px;
  border-radius: 12px;
  margin: auto;
  margin-top: 20px;
}

#resume{
 margin: 42px;
}