body{
    margin: 0px;
    display: flex;
    justify-content: center;
}

#main-container{
  background-color: #A6D7D3;
  width: 1024px;
  height: 140px;
  border: solid 1px black;
}

#my-portfolio{
  background-color: #A6D7D3;
  width: 1024px;
  height: 140px;
  border: solid 1px black;
  margin-top: 33px;
}

#directs {  
  height: 140px;
}

ul{
  justify-content: space-evenly;
  display: flex;
  list-style-type: none;
}

#banner{
  font-size: 50px;
  color: white;
  background-color: #2B8B93;
  border: solid 10px #FFBF0A;
  width: 537px;
  height: 101px;
}

#list{
  color: white;
  background-color: #2B8B93;
  border: solid 10px #FFBF0A;
}