body{
    margin: 0px;
    display: flex;
    justify-content: center;
    font-family: "PT Mono", monospace;
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
}

#main-container{
  background-color: #A6D7D3;
  width: 1024px;
  height: 140px;
}

#top{
  display: grid;
  grid-template-columns: [first] 180px [line2] 800px;
  column-gap: 50px;
}

#list{
  text-align: center;
  color: white;
  background-color: #2B8B93;
  padding: 5px;
  height: 40px;
  width: 170px;
  padding-top: 17px;
  font-size: 23px;
  font-weight: 570;
  border-radius: 12px;
}

#directs{
  padding-top: 17px;
}

#my-portfolio{
  background-color: #A6D7D3;
  width: 1024px;
  height: 140px;
  padding-top: 30px;
}

ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-right: 40px;
}

#banner{
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 60px;
  color: white;
  background-color: #2B8B93;
  border: solid 10px #FFBF0A;
  width: 517px;
  height: 70px;
  padding: 10px;
  border-radius: 12px;
}